__pycache__/
Lecture Notes/
Midterm/
glove.6B.100d.txt.gz
task.zip
task_data.zip
model_lab8.h5
draw.npz
draw_example.zip
draw_example
PA2.zip
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.pdf
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.gradle/
venv*
.vscode/launch.json
.ipynb_checkpoints/
*.csv
*.txt
*.wav
MATH-4432-Statistical-Machine-Learning-main
MATH4432/HW4/.Rhistory
*.aux
*.bbl
*.fdb_latexmk
*.fls
*.out
*.gz
*.blg

MATH4432/*/*.html
.submissions
COMP2211/*/*.ipynb
MATH4992/*.ipynb